node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
# Thư mục release và đóng gói Electron
database.sqlite
/out
/build
/release
/dist/*.exe
/dist/*.dmg
/dist/*.AppImage
/dist/*.msi
/dist/*.zip
/dist/*.7z
/dist/*.tar.gz
/dist/win-unpacked
/dist/linux-unpacked
/dist/mac